.js-cookie-consent, .cookie-consent {
  padding: 13px;
  background: #111;
  text-align: center;
  letter-spacing: 2px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  span {
    color: #fff;
  }
  button {
    color: $mainColor;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #000;
    padding: 4px;
    border: 1px solid $mainColor;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    &:hover {
      cursor: pointer;
      background: $mainColor;
      color: #000;
    }
  }
  a {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    &:hover {
      opacity: .8
    }
  }
}

#cookies-page {
  section {
    article {
      h2 {
        letter-spacing: 2px;
      }
      p {
        color: #000;
        font-size: 1rem;
      }
    }
  }
}
