@import "mixins";

header {
  text-align: center;
  @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
  color: $mainColor;
  height: 100px;
  }
  nav#main-nav {
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    letter-spacing: 4px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
    display: none;
    }
    a {
      position: fixed;
      font-size: 1rem;
      padding: 0 0 10px;
      @media only screen and (min-width : 1224px) and (max-device-width : 1824px){
        font-size: .7rem;
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        font-size: .8rem;
      }
    }
    a.top-left {
      top: 40px;
      left: 60px;
    }
    a.top-right {
      top: 40px;
      right: 60px;
    }
    a.bottom-right {
      bottom: 40px;
      right: 60px;
    }
    a.bottom-left {
      bottom: 50px;
      left: 60px;
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
    }
  }
  #mobile-nav {
    display: none;
    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
    display: block;
    }
    
    // h1 {
    //   position: absolute;
    //   z-index: 1;
    //   top: 10px;
    //   left: 20px;
    //   color: $mainColor;
    //   font-size: 2rem;
    //   text-align: left;
    //   span {
    //     font-size: 50%;
    //     font-family: $mainFont;
    //     vertical-align: middle;
    //   }
    // }
    // span {
    //   font-size: 1.5rem;
    //   font-weight: 100;
    //   line-height: .8;
    //   text-transform: uppercase;
    // }
  }
}
