@import "mixins";

.info {
  div.section {
    margin-bottom: 200px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
      margin-bottom: 50px;
    }
    &:last-child {
      // height: 50vh;
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        height: auto;
      }
    }
    p {
      font-size: 1.6rem;
      color: #000;
      position: relative;
      text-align: justify;
      margin: 10% 0;
      padding: 2%;
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        margin: 5% 0;
        // font-size: 95%;
      }
      &:first-child {
        margin-top: 0;
      }
      span#brand {
        color: $mainColor;
        font-size: 4rem;
        text-transform: uppercase;
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        }
      }
    }
    q {
      font-size: 1.6rem;
      padding: 2%;
    }
    h3, h4 {
      font-size: 2.5rem;
      display: inline-block;
      // text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.5;
      color: $mainColor;
      // padding: 1%;
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
      font-size: 2.5rem;
      line-height: 1;
      }
    }
    h5{
      // text-transform: uppercase;
      font-size: 1.4rem;
      margin-top: -40px;
      margin-bottom: 80px;
      letter-spacing: 2px;
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
      font-size: 1.2rem;
      line-height: 1;
      margin-top: -20px;
      }
    }
    div.vertical-line {
      display: none;
      width: 1px;
      height: 250px;
      background: $mainColor;
      margin: auto;
      margin-top: 40px;
      @media screen and (max-device-width: 740px) {
        display: none;
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        height: 600px;
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        display: none;
      }
    }
    article {
      ul {
        color: #000;
        letter-spacing: 2px;
        padding: 2%;
        font-size: 1.6rem;
        line-height: 1.4;
        padding: 0;
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
          padding: 2%;
        }
      }
    }
  }
}
